.gallery {
  max-width: 970px;
}

.galleryContent {
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.galleryItem {
  margin: 15px 0;
  padding: 10px;
  min-width: 290px;
  max-width: 475px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:nth-of-type(6) {
    margin-bottom: 0;
  }
}

.galleryImg {
  width: 100%;
  padding: 5px;

  img {
    border: 5px solid $button;
    border-style: inset;
  }
}

.galleryText {
  padding: 0 7.5px;
  a {
    text-decoration: underline;
    text-decoration-color: $accentOne;

    &:focus, &:active {
      color: $accentOne;
    }
  }
}

.galleryLinks {
  width: 100%;
  justify-content: space-evenly;
}

// ==========MEDIA QUERIES==========
@media (min-width: 1100px) {
  .galleryContent {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

@media (min-width: 760px) {
  .galleryText {
    a:hover {
      color: $accentOne;
    }
  }
}

  .galleryItem {
    min-height: 570px;
    margin: 0 0 20px;

    &:nth-of-type(6) {
    margin-bottom: 20px;
  }
  }
}